<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<!-- animated-css -->
		<link href="__PUBLIC__/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="__PUBLIC__/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!-- animated-css -->
<style>
a:hover img{
	opacity: 0.5
	}
</style>
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="__PUBLIC__/images/logo.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="__URL__/index">首页</a></li>
					<li><a class="active" href="__URL__/about">关于</a></li>
					<li><a href="__URL__/introduce">展示</a></li>
					<li><a href="__URL__/news">动态</a></li>
					<li><a href="__URL__/contact">联系</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-4 about-left wow bounceIn" data-wow-delay="0.4s">
				<h3>关于未来</h3>
				<img src="__PUBLIC__/images/ab.jpg" alt=""/>
			</div>
			<div class="col-md-8 about-left wow bounceIn" data-wow-delay="0.4s">
				<h3>Why choose us</h3>
				<h4>scrambled it to make a type specimen</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
				<h4>scrambled it to make a type specimen</h4>
				<p>Since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			    <h4>scrambled it to make a type specimen</h4>
			    <p> It has survivednot only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</div>
			
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->
<!--team start here-->
<div class="team">
	<div class="container">
		<div class="team-main" > 
			<h3>我们的团队</h3>
			 <div class="col-md-3 team-grids wow bounceIn " data-wow-delay="0.4s">
			 	<a href="#"><img src="__PUBLIC__/images/ram.jpg" alt="" class="thumbnail" /></a>
			 	<p style="font-size:15px; margin-top:20px">事实上，在欧盟对微软的反垄断调查中，"捆绑销售"是微软滥用市场支配地位取得垄断利益的主要表现。地位取得垄断利益的主要表现。</p>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 
			 	<a href="#"><img src="__PUBLIC__/images/t1.jpg" alt=""/></a>
			 	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<a href="#"><img src="__PUBLIC__/images/t3.jpg" alt=""/></a>
			 	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<a href="#"><img src="__PUBLIC__/images/t2.jpg" alt=""/></a>
			 	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			 </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--team end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新文章</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解钩子Hook以及在Thinkphp下利用钩子使用行为扩展</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解RESTful架构</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备 </a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新评论</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  </ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyright &copy; 2016. The FutureGroup 未来工作室</p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>
