<!DOCTYPE HTML>
<html>
<head>
<title>主页</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="__PUBLIC__/css/hover.css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<!---- animated-css ---->
		<link href="__PUBLIC__/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="__PUBLIC__/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!---- animated-css ---->
<script src="__PUBLIC__/js/jquery-1.11.0.min.js"></script>
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo">
				<a href="index.html"> <img src="__PUBLIC__/images/logo.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="__PUBLIC__/images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a class="active" href="__URL__/index">首页</a></li>
					<li><a href="__URL__/about">关于</a></li>
					<li><a href="__URL__/introduce">展示</a></li>
					<li><a href="__URL__/news">动态</a></li>
					<li><a href="__URL__/contact">联系</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--banner start here-->
	<!-- 图片轮播 -->
<div class="container-fluid">
	<div class="row">
		<iframe scrolling="no" frameborder="0" src="__URL__/play" style="width:100%; height:450px">
		</iframe>
	</div>    
</div>
<!--banner end here-->

<!--info-grid start here-->
<div class="info-grid wow bounce" data-wow-delay="0.1s" style="margin-top:-6px;">
	<div class="container">
		<div class="info-grid-main">
			<div class="col-md-4 info-grids-cr wow bounceIn" data-wow-delay="0.4s">
				<div class="info-top">
					<h3>
						NBA数据分析项目
					</h3>
				</div>
				<div class="info-bott">
					<img src="__PUBLIC__/images/c1.jpg" alt=""/>
					<p> 简介：NBA数据分析项目<br>
						构架：前端Bootstrap与HTML5，后端PHP、JSON、Highcharts图像化框架等<br>
						链接：https://www.baidu.com/
					</p>
				</div>
				<div class="infogrid-bwn">
					<a href="#">READ MORE</a>
				</div>
				
			</div>
			<div class="col-md-4 info-grids-cr wow bounceIn" data-wow-delay="0.4s">
				<div class="info-top">
					<h3>
						NBA数据分析项目
					</h3>
				</div>
				<div class="info-bott">
					<img src="__PUBLIC__/images/c1.jpg" alt=""/>
					<p> 简介：NBA数据分析项目<br>
						构架：前端Bootstrap与HTML5，后端PHP、JSON、Highcharts图像化框架等<br>
						链接：
					</p>
				</div>
				<div class="infogrid-bwn">
					<a href="#">READ MORE</a>
				</div>
				
			</div>
			<div class="col-md-4 info-grids-cr wow bounceIn" data-wow-delay="0.4s">
				<div class="info-top">
					<h3>
						NBA数据分析项目
					</h3>
				</div>
				<div class="info-bott">
					<img src="__PUBLIC__/images/c1.jpg" alt=""/>
					<p> 简介：NBA数据分析项目<br>
						构架：前端Bootstrap与HTML5，后端PHP、JSON、Highcharts图像化框架等<br>
						链接：
					</p>
				</div>
				<div class="infogrid-bwn">
					<a href="#">READ MORE</a>
				</div>
				
			</div>
		  <div class="clearfix"> </div>
		</div>
		<div class="info-grid-main">
			<div class="col-md-4 info-grids-cr wow bounceIn" data-wow-delay="0.4s">
				<div class="info-top">
					<h3>
						NBA数据分析项目
					</h3>
				</div>
				<div class="info-bott">
					<img src="__PUBLIC__/images/c1.jpg" alt=""/>
					<p> 简介：NBA数据分析项目<br>
						构架：前端Bootstrap与HTML5，后端PHP、JSON、Highcharts图像化框架等<br>
						链接：
					</p>
				</div>
				<div class="infogrid-bwn">
					<a href="#">READ MORE</a>
				</div>
				
			</div>
			<div class="col-md-4 info-grids-cr wow bounceIn" data-wow-delay="0.4s">
				<div class="info-top">
					<h3>
						NBA数据分析项目
					</h3>
				</div>
				<div class="info-bott">
					<img src="__PUBLIC__/images/c1.jpg" alt=""/>
					<p> 简介：NBA数据分析项目<br>
						构架：前端Bootstrap与HTML5，后端PHP、JSON、Highcharts图像化框架等<br>
						链接：
					</p>
				</div>
				<div class="infogrid-bwn">
					<a href="#">READ MORE</a>
				</div>
				
			</div>
			<div class="col-md-4 info-grids-cr wow bounceIn" data-wow-delay="0.4s">
				<div class="info-top">
					<h3>
						NBA数据分析项目
					</h3>
				</div>
				<div class="info-bott">
					<img src="__PUBLIC__/images/c1.jpg" alt=""/>
					<p> 简介：NBA数据分析项目<br>
						构架：前端Bootstrap与HTML5，后端PHP、JSON、Highcharts图像化框架等<br>
						链接：
					</p>
				</div>
				<div class="infogrid-bwn">
					<a href="#">READ MORE</a>
				</div>
				
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--info-grid end here-->
<!--movergrid start here-->

<div class="flex-slider  wow bounceInLeft" data-wow-delay="0.4s">
	<div class="container">
	<div class="col-md-6" >
		<ul id="flexiselDemo4">
				<li>
				    <div class="grid">
						<h3>小组正式进入寒假学习</h3>
								<p>寒假是我们难得的学习时间，一定要把握住，全方位提高自己. . . <a href="#" class="news-more">阅读全文</a></p>
								<div class="mov-bwn" style="float:left;">
									<span>24-01-2016</span>
								</div>
								<div class="mov-bwn">
									<a href="#">阅读全文</a>
								</div>
								
						</div>
				</li>
				<li>
				    <div class="grid">
						<h3>小组正式进入寒假学习</h3>
								<p>寒假是我们难得的学习时间，一定要把握住，全方位提高自己. . . <a href="#" class="news-more">阅读全文</a></p>
								<div class="mov-bwn" style="float:left;">
									<span>24-01-2016</span>
								</div>
								<div class="mov-bwn">
									<a href="#">阅读全文</a>
								</div>
								
						</div>
				</li>
				<li>
				    <div class="grid">
						<h3>小组正式进入寒假学习</h3>
								<p>寒假是我们难得的学习时间，一定要把握住，全方位提高自己. . . <a href="#" class="news-more">阅读全文</a></p>
								<div class="mov-bwn" style="float:left;">
									<span>24-01-2016</span>
								</div>
								<div class="mov-bwn">
									<a href="#">阅读全文</a>
								</div>
								
						</div>
				</li>
		</ul>
	</div>
	<div class="col-md-6" >
		<ul id="flexiselDemo4">
				<li>
				    <div class="grid">
						<h3>小组正式进入寒假学习</h3>
								<p>寒假是我们难得的学习时间，一定要把握住，全方位提高自己. . . <a href="#" class="news-more">阅读全文</a></p>
								<div class="mov-bwn" style="float:left;">
									<span>24-01-2016</span>
								</div>
								<div class="mov-bwn">
									<a href="#">阅读全文</a>
								</div>
								
						</div>
				</li>
				<li>
				    <div class="grid">
						<h3>小组正式进入寒假学习</h3>
								<p>寒假是我们难得的学习时间，一定要把握住，全方位提高自己. . . <a href="#" class="news-more">阅读全文</a></p>
								<div class="mov-bwn" style="float:left;">
									<span>24-01-2016</span>
								</div>
								<div class="mov-bwn">
									<a href="#">阅读全文</a>
								</div>
								
						</div>
				</li>
				<li>
				    <div class="grid">
						<h3>小组正式进入寒假学习</h3>
								<p>寒假是我们难得的学习时间，一定要把握住，全方位提高自己. . . <a href="#" class="news-more">阅读全文</a></p>
								<div class="mov-bwn" style="float:left;">
									<span>24-01-2016</span>
								</div>
								<div class="mov-bwn">
									<a href="#">阅读全文</a>
								</div>
								
						</div>
				</li>
		</ul>
	</div>
	</div>
	<script type="text/javascript">
				 $(window).load(function() {
					$("#flexiselDemo4").flexisel({
						visibleItems: 3,
						animationSpeed: 1000,
						autoPlay: true,
						autoPlaySpeed: 3000,    		
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
				    	responsiveBreakpoints: { 
				    		portrait: { 
				    			changePoint:480,
				    			visibleItems: 1
				    		}, 
				    		landscape: { 
				    			changePoint:640,
				    			visibleItems: 2
				    		},
				    		tablet: { 
				    			changePoint:768,
				    			visibleItems: 3
				    		}
				    	}
				    });
				    
				});
			   </script>
			   <script type="text/javascript" src="js/jquery.flexisel.js"></script>


</div>
<!--movegrid end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新文章</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解钩子Hook以及在Thinkphp下利用钩子使用行为扩展</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解RESTful架构</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备 </a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新评论</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  </ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyright &copy; 2016. The FutureGroup 未来工作室</p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>