<!DOCTYPE HTML>
<html>
<head>
<title>Service</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="__PUBLIC__/css/hover.css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<!---- animated-css ---->
		<link href="__PUBLIC__/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="__PUBLIC__/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!---- animated-css ---->
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="__PUBLIC__/images/logo.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="__PUBLIC__/images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="index">首页</a></li>
					<li><a href="about">关于</a></li>
					<li><a class="ser active" href="introduce">展示</a></li>
					<li><a href="__URL__/news">动态</a></li>
					<li><a href="__URL__/contact">联系</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--about start here-->
<div class="service">
	<div class="container">
		<div class="service-main">
			<div class="service-top">
				<h3>Services</h3>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			</div>
			<div class="service-left wow bounceIn" data-wow-delay="0.4s">
			   <div class="service-right">
				    <img src="__PUBLIC__/images/s1.jpg" alt=""/>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries</p>
				    <div class="ser-bwn">
				    	<a href="#" class="hvr-grow-shadow">Read More</a>
				    </div>
			   </div>
			    <div class="service-right ser-midd wow bounceIn" data-wow-delay="0.4s">
				    <img src="__PUBLIC__/images/s2.jpg" alt=""/>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries</p>
				    <div class="ser-bwn">
				    	<a href="#" class="hvr-grow-shadow">Read More</a>
				    </div>
			   </div>
			    <div class="service-right wow bounceIn" data-wow-delay="0.4s">
				    <img src="__PUBLIC__/images/s3.jpg" alt=""/>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
				    <div class="ser-bwn">
				    <a href="#" class="hvr-grow-shadow">Read More</a>
				    </div>
			   </div>
				<div class="service-right wow bounceIn" data-wow-delay="0.4s">
				    <img src="__PUBLIC__/images/s4.jpg" alt=""/>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
				    <div class="ser-bwn">
				   <a href="#" class="hvr-grow-shadow">Read More</a>
				    </div>
			   </div>
			   <div class="service-right ser-midd wow bounceIn" data-wow-delay="0.4s">
				    <img src="__PUBLIC__/images/s6.jpg" alt=""/>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
				    <div class="ser-bwn">
				    	<a href="#" class="hvr-grow-shadow">Read More</a>
				    </div>
			   </div>
			   <div class="service-right wow bounceIn" data-wow-delay="0.4s">
				    <img src="__PUBLIC__/images/s7.jpg" alt=""/>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
				    <div class="ser-bwn">
				    <a href="#" class="hvr-grow-shadow">Read More</a>
				    </div>
			   </div>
			    <div class="clearfix"> </div>
			 </div>
		</div>
	</div>
</div>
<!--about end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新文章</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解钩子Hook以及在Thinkphp下利用钩子使用行为扩展</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解RESTful架构</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备 </a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新评论</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  </ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyright &copy; 2016. The FutureGroup 未来工作室</p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>
