<!DOCTYPE HTML>
<html>
<head>
<title>Single</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="__PUBLIC__/css/hover.css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<!---- animated-css ---->
		<link href="__PUBLIC__/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="__PUBLIC__/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!---- animated-css ---->
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="__PUBLIC__/images/logo.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="__PUBLIC__/images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="__URL__/index">首页</a></li>
					<li><a href="__URL__/about">关于</a></li>
					<li><a href="__URL__/introduce">展示</a></li>
					<li><a class="ser active" href="__URL__/news">动态</a></li>
					<li><a href="__URL__/contact">联系</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--single page start here-->
<!--about start here-->
<div class="projects">
	<div class="container">
		<div class="projects-main">
			  <div class="projects-top">
			  	<h3>Our Projects</h3>
			  	<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			  </div>
			  <div class="p-single">
			  	<div class="col-md-2 p-single-left">
			  		<div class="number">
			  			<div class="date">
			  				<h3>25</h3>
			  			</div>
			  			<div class="month">
			  				<p>August</p>
			  			</div>
			  		</div>
			  		<div class="details">
			  				<p>Category:<span class="detail-col">Corporation</span></p>
			  				<p>Written by:<span class="detail-col">Admin</span></p>
			  				<p>Hits:<span class="detail-col">10</span></p>
			  			</div>
			  	</div>
			  <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
				 <div class="project-img">
					<img src="__PUBLIC__/images/p1.jpg" alt=""/>
				 </div>
				 <div class="project-text">
				 	<h4>Nam libero tempore</h4>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				 </div>
				 <div class="clearfix"> </div>
			  </div>
			  <div class="clearfix"> </div>
			 </div>
			 <div class="p-single">
			  	<div class="col-md-2 p-single-left">
			  		<div class="number">
			  			<div class="date">
			  				<h3>28</h3>
			  			</div>
			  			<div class="month">
			  				<p>August</p>
			  			</div>	
			  		</div>
			  		<div class="details">
			  				<p>Category:<span class="detail-col">Corporation</span></p>
			  				<p>Written by:<span class="detail-col">Admin</span></p>
			  				<p>Hits:<span class="detail-col">10</span></p>
			  			</div>
			  	</div>
			  <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
				 <div class="project-img">
					<img src="__PUBLIC__/images/p4.jpg" alt=""/>
				 </div>
				 <div class="project-text">
				 	<h4> quis nostrum exercitationem </h4>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				 </div>
				 <div class="clearfix"> </div>
			  </div>
			  <div class="clearfix"> </div>
			 </div>
			 <div class="p-single">
			  	<div class="col-md-2 p-single-left">
			  		<div class="number">
			  			<div class="date">
			  				<h3>30</h3>
			  			</div>
			  			<div class="month">
			  				<p>August</p>
			  			</div>			  			
			  		</div>
			  		<div class="details">
			  				<p>Category:<span class="detail-col">Corporation</span></p>
			  				<p>Written by:<span class="detail-col">Admin</span></p>
			  				<p>Hits:<span class="detail-col">10</span></p>
			  			</div>
			  	</div>
			  <div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
				 <div class="project-img">
					<img src="__PUBLIC__/images/p5.jpg" alt=""/>
				 </div>
				 <div class="project-text">
				 	<h4>Neque porro quisquam est</h4>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				 </div>
				 <div class="clearfix"> </div>
			  </div>
			  <div class="clearfix"> </div>
			 </div>
			 
					
				
		 </div>
		 <div class="clearfix"> </div>
		 <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="192.168.191.1" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"futureweb"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->



	 </div>
 </div>

<!--single page end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新文章</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解钩子Hook以及在Thinkphp下利用钩子使用行为扩展</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">理解RESTful架构</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">Linux下crontab+php实现Mysql数据库定时备 </a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">最新评论</h3>
			  <ul class="ftr-list">
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  	<li><a href="#">未来小组，越来越好</a><br><span style="color:#818C93;margin-left:15px;">2016-1-26</span></li>
			  </ul>
			</div>
			<div class="col-md-4 footer-grid wow bounceIn" data-wow-delay="0.4s">
			  <h3 style="margin-left:13px;">友情链接</h3>
			  <ul class="ftr-list">
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  	<li><a href="http://www.chuanke.com/">百度传课</a></li>
			  	<li><a href="http://www.maizitime.com/pages/ad04/index.html?bdss3=pp_hx_104154">麦子学院</a></li>
			  	<li><a href="http://www.imooc.com/">慕课网 </a></li>
			  </ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>



<!--footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main wow bounceInLeft" data-wow-delay="0.4s">
			<p>Copyright &copy; 2016. The FutureGroup 未来工作室</p>
		</div>
	</div>
</div>
<!--copyrights end here-->

</body>
</html>